{% extends "base.html" %}
{% block content %}

<section class="page-hero">
  <div class="container">
    <h1>Conheça nosso bazar!</h1>
    <p>
      O Bazar do Lar da Regina é mais do que um lugar para comprar roupas e acessórios:
      cada compra ajuda alimentação, cuidados veterinários e manutenção do abrigo.
    </p>

    <a class="btn btn--primary" target="_blank" rel="noopener"
       href="https://wa.me/5511976187227{{ ong.whatsapp }}?text=Ol%C3%A1!%20Quero%20visitar%20o%20bazar%20do%20Lar%20da%20Regina.%20Pode%20me%20passar%20os%20hor%C3%A1rios%3F">
      Consulte e visite
    </a>
  </div>
</section>

<section class="container grid-2">
  <div class="card card--soft">
    <h2>Sede Administrativa e Bazar</h2>
    <p class="muted">Como chegar?</p>

    <div class="map-wrap">
      <!-- Troque pelo seu embed do Google Maps -->
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3659.81335491167!2d-46.53047862489395!3d-23.4671960788646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cef55a49c45e75%3A0xf1c48dfa34c64fde!2sR.%20Lu%C3%ADz%20Faccini%2C%20363%20-%20Centro%2C%20Guarulhos%20-%20SP%2C%2007110-000!5e0!3m2!1spt-BR!2sbr!4v1727058889462!5m2!1spt-BR!2sbr" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" id="maps"></iframe>
    </div>

    <p class="muted" style="margin-top:12px;">
      Nossa sede administrativa está aberta para visitação conforme disponibilidade.
      É aqui que também fica o bazar, e toda ajuda se transforma em cuidado.
    </p>
  </div>

  <div class="links-box">
    <h2>Links</h2>

    <a class="link-btn"  href="https://www.kickante.com.br/vaquinha-online/juntos-por-uma-lar-para-os-100-caes-da-regina">Vaquinha (Pix) – Doações</a>
    <a class="link-btn" target="_blank" rel="noopener" href="https://www.facebook.com/LardaReginaProtecao">Curta no Facebook</a>
    <a class="link-btn" href="{{ url_for('public.adote') }}">Adote um peludinho</a>
    <a class="link-btn" href="{{ url_for('public.apadrinhamento_lista') }}">Apadrinhamento</a>
    <a class="link-btn" href="{{ url_for('public.como_ajudar') }}">Necessidades da ONG</a>
    <a class="link-btn" href="{{ url_for('public.contato') }}">Pontos de arrecadação</a>
    <a class="link-btn" href="https://forms.gle/t2X7sVb5fvv4KbfN8" target="_blank">Bazar da ONG</a>
    <a class="link-btn" href="https://drive.google.com/file/d/1WdBC1LoKuDDzNYwBtrfJoMdYjkO4kEcS/view?usp=drivesdk" target="_blank">Doações financeiras</a>
    <a class="link-btn" href="https://app.picpay.com/payment?type=store&hash=caiDD4kbPMaeLAnF" target="_blank">Faça sua doação pelo PicPay</a>
  </div>
</section>

{% endblock %}
